AddDefaultCharset Off

    Options +FollowSymLinks
    Options -Indexes
    DirectoryIndex index.php

    RewriteEngine On
    RewriteBase /   

 RewriteRule taxi$ /taxi.php [NS,L]
 RewriteRule cab$ /cab.php [NS,L]


