body {
	font-family: Open Sans, sans-serif;
}

ul, li, span {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;	
}

.bold {
	font-weight: bold;
}

.container, 
.container-fluid {
	padding-right: 70px; 
	padding-left: 70px;
}

.border {
	border: 1px solid black;
}

.bold {
	font-weight: bold;

}

.red {
	color: #C1272D;	
	font-size: 14px;
}

.header {
	background-color: #000000;
	color: #ffffff;
	padding-left: 70px;
	padding-right: 70px;
	opacity: 0.8;
}

.main-screen {
	background-color: #000000;
	color: #ffffff;
	background-image: url("imgs/man-with-gun.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

.header-mob {
	background-color: #028090;
	color: #ffffff;
	background-color: #028090;
}

.header-mob .logo-wrapper-mob {
	background-image: url("imgs/logo.png");
	background-repeat: no-repeat;
	background-size: cover;
	float: left;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 101px;
	height: 30px;
}

.header .col-md-12 {
	padding-bottom: 15px;
	padding-top: 15px;
}

.header img {
	float: left;
}

.header .right-side {
	float: right;
	display: flex;
}

.header button {	
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	margin-right: 20px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #000000;
	border: 2px solid #ffffff;
	border-radius: 3px;
} 

.header button:hover {	
	background-color: #E7382B;
} 

.btn-connect-wrapper {
	margin-top: 100px;
	margin-left: 70px;
}

.btn-connect-wrapper button {	
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #000000;
	border: 2px solid #ffffff;
	border-radius: 3px;
	opacity: .7;
} 

.btn-connect-wrapper button:hover {	
	background-color: #E7382B;
} 

.header .phone-digits {
	font-size: 36px;
	font-family: 'Open Sans Condensed', sans-serif;
} 

.header .glyphicon-earphone {
	font-size: 25px;
}

.main-screen {
	height: 100vh;
}

.main-screen-mob {
	background-color: #F5F5F5;
}

.main-screen h1, h3 {
	text-align: left;
	padding-left: 70px;
	padding-right: 70px;
}

.first-man-wrapper {
	font-size: 28px;
	width: 33%;
	margin-left: 70px;
	text-align: left;
	margin-top: 100px;
}

.main-screen-mob h1, h3 {
	text-align: center;
}

.main-screen h1 {
	font-size: 42px;
	font-weight: 700;
	font-family: 'Open Sans Condensed', sans-serif;
	margin-top: 20px;
    letter-spacing: 2px;
}

.main-screen-mob h1 {
	font-size: 32px;
	font-weight: 700;
	font-family: 'Open Sans Condensed', sans-serif;
	margin-top: 20px;
    letter-spacing: 2px;
}

.main-screen h3 {
	font-size: 32px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 600;
	margin-top: 0px;
	letter-spacing: 2px;
}

.main-screen-mob h3 {
	font-size: 24px;
	font-family: 'Open Sans Condensed', sans-serif;
	margin-top: 0px;
	letter-spacing: 2px;
}

.main-screen ul {
	font-size: 28px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	margin-top: 0px;
	list-style-type: none;
	display: inline-block;
	padding-left: 65px;
}

.main-screen-mob ul {
	margin-bottom: 30px;
	font-size: 18px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	margin-top: 0px;
	list-style-type: none;
	display: inline-block;
}

.main-screen ul span {
	vertical-align: bottom;
	margin-left: 10px;
	margin-top: 10px;
}

.main-screen-mob ul span {
	vertical-align: middle;
	margin-left: 10px;
}

.main-screen-mob li {
	margin-top: 15px;
	font-size: 20px;
}

.main-screen-mob .btns-wrapper {
	margin-top: 20px;
}

.main-screen-mob button {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 5px;
	background-color: #E7382B;
	color: #ffffff;
	border: none;
	width: 260px;
	margin-bottom: 20px;
}

.main-screen-mob button:active {
	background-color: #339933;
}

#btn-not-null-mob {
	background-color: #ffffff;
	color: black;
	border: 1px solid black;
	margin-bottom: 20px;
}

#btn-not-null-mob:active {
	background-color: #E7382B;
	color: #fff;
}

.main-screen li {
	margin-top: 30px;
	clear: both;
}

.how-much h2 {
	font-size: 36px;
	font-weight: 700;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 2px;
	margin-bottom: 30px;
	margin-top: 10px;
}

.compare-with-buh h2 {
	font-size: 36px;
	font-weight: 700;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 2px;
	margin-bottom: 30px;
	margin-top: 25px;
}

.how-much-mob h2 {
	font-size: 28px;
	font-weight: 700;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 2px;
	margin-bottom: 30px;
	margin-top: 25px;
}

.compare-with-buh-mob {
	background-color: #F5F5F5;
}

.compare-with-buh-mob h2 {
	font-size: 28px;
	font-weight: 700;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 2px;
	margin-bottom: 30px;
	margin-top: 25px;
}

.price-wrapper {
	font-family: Open Sans;
	margin-bottom: 15px;	
}

.compare-with-buh {
	font-family: Open Sans;
	margin-bottom: 15px;	
	background-color: #F5F5F5;
}

.price-wrapper table {
	font-family: Open Sans;
	font-size: 18px;
	background-color: #F5F5F5;
}

.how-much-mob table {
	margin-bottom: 30px;
}

.how-much-mob .last-table{
	margin-bottom: 0px;
}

.compare-wrapper {
	margin-bottom: 20px; 
}

.compare-wrapper table td {
	width: 33.3%;
}

.compare-wrapper-mob {
	margin-bottom: 30px; 
}


.compare-wrapper table {
	font-family: Open Sans;
	font-size: 18px;
}

.price-wrapper-mob table {
	font-family: Open Sans;
	font-size: 18px;
	background-color: #F5F5F5;
}

.compare-wrapper-mob table {
	font-family: Open Sans;
	font-size: 18px;
}

.price-wrapper table td, th {
	width: 33%;
}

.compare-wrapper table td {
	width: 50%;
}

.compare-wrapper-mob table td {
	width: 50%;
}

.header-price {
	font-weight: bold;	
    border-bottom: 1px solid black;
	padding: 5px 0px;
}

.cell-price {
	background-color: #E7382B;
	color: #ffffff;
}

#price-ip-usn,
#price-ip-osn,
#price-ooo-usn {
	border-right: none;
}

.how-much a {
	font-family: Open Sans;
	font-size: 18px;
}

#look-all-price {
	margin-top: 30px;
	margin-bottom: 18px;
}

#are-you-ready {
	margin-top: 30px;
	margin-bottom: 18px;
	font-size: 18px;
	font-family: Open Sans;
}

#look-all-price-mob {
	margin-top: 20px;
	margin-bottom: 22px;
	font-family: Open Sans;
	font-size: 18px;
}

.questions-wrapper {
	padding-left: 70px;
	padding-right: 70px;
	font-size: 16px;
	margin-top: 20px; 
}

.price-page {
	padding-left: 70px;
	padding-right: 70px;
}

.privacy-policy {
	padding-left: 70px;
	padding-right: 70px;
}

.price-page h3 {
	margin-top: 0px;
}

.price-page-h4 {
	margin-top: 50px;
}

input[type="radio"] {
	margin-right: 7px;
}

input[type="checkbox"] {
	margin-right: 7px;
}

#btn-free-consult-mob {
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #339933;
	border: 1px solid #ffffff;
	border-radius: 3px;
	padding-bottom: 5px;
	padding-top: 5px;
	float: right;
	padding-bottom: 8px;
	padding-top: 8px;
}

#btn-free-consult-mob:active {
	background-color: #E7382B;
}

.calc-and-text-wrapper {
	display: flex;
	margin-bottom: 30px;
	min-height: 230px;
	font-size: 20px;
}

.calc-wrapper {
	background-image: url("imgs/man-with-calc.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 30%;
	position: top;
	margin-right: auto;
}

.for-accs-text-wrapper {
	width: 69%;
	margin-left: auto;
}

.where-are-you {
	background-image: url("imgs/red-white-people.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.what-can-order {
	background-image: url("imgs/man-in-black.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: #ffffff;
	padding-bottom: 10px;
}

.what-can-order li {
	margin-bottom: 20px;
}

.our-experience {
	background-color: #333333;
	color: #ffffff;
}

/*.for-accountants {
	padding-bottom: 30px;	
}*/

.for-accountants h2 {
	font-size: 36px;
	font-weight: 700;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 2px;
	margin-bottom: 20px;
	margin-top: 25px;
}

.where-are-you h2,
.what-can-order h2,
.our-experience h2 {
	font-size: 36px;
	font-weight: 700;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 2px;
	margin-bottom: 20px;
	margin-top: 25px;
}

.where-are-you p {
	font-size: 20px;
	font-family: Open Sans;	
}

.what-can-order li {
	font-size: 20px;
	font-family: Open Sans;	
}

.what-can-order ul {
	margin-left: 20px;
}

.our-experience li {
	font-size: 20px;
	font-family: Open Sans;	
	margin-bottom: 10px;
}

.our-experience ul {
	margin-left: 20px;
}

.our-experience .col-md-12 {
	margin-bottom: 20px;
}

.for-accountants button {	
	font-size: 22px;
	font-family: 'Open Sans', sans-serif;
	background-color: #E7382B;
	border: 2px solid #ffffff;
	border-radius: 3px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	letter-spacing: 1px;
	color: #ffffff;
	border: none;
} 

.for-accountants button:hover {	
	background-color: #339933;
} 

.where-are-you button:hover {	
	background-color: #339933;
} 

.btn-wrapper {
	margin-top: 20px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 65px;
	padding-right: 65px;
}

.btn-wrapper-mob {
	margin-top: 20px;
	margin-bottom: 30px;
}

#btn-get-bonus {
	margin-left: auto;
	margin-right: auto;
}

#btn-get-bonus-mob {
	margin-left: auto;
	margin-right: auto;
}

#btn-check-us, 
#btn-check-us-mob,
#btn-our-experience,
#btn-our-experience-mob {
	margin-left: auto;
	margin-right: auto;
	font-size: 22px;
	font-family: 'Open Sans', sans-serif;
	background-color: #E7382B;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	letter-spacing: 1px;
	color: #ffffff;
	border: none;
}

#btn-check-us:hover,
#btn-check-us-mob:hover,
#btn-our-experience:hover,
#btn-our-experience-mob:hover {
	background-color: #339933;
}

.btn-check-us-mob {
	margin-left: auto;
	margin-right: auto;
}

.thank-you {
	font-family: Open Sans;
	font-size: 24px;
	margin-top: 100px;
}

.footer {
	color: rgb(122, 122, 122);
	opacity: .95;
	background-color: #000000;
}

.emphasis {
	font-size: 21px;
}

.div-not-visible {
	height: 30px;
	background-color: #fff;
}

.footer a {
	color: rgb(122, 122, 122);
	font-family: Open Sans;
}

.footer span {
	color: rgb(122, 122, 122);
	font-family: Open Sans;
}

.footer a:hover {
	text-decoration: none;
	color: #ffffff;
	font-family: Open Sans;
}

.footer-wrapper {
	padding-top: 20px;
	margin-bottom: 5px;
}

.copyright {
	font-size: 12px;
	font-family: Open Sans;
	margin-top: 15px;
}

/*Начало. Переопределенные стили Bootstrap.*/
.modal-title {
	color: #000000;
	padding-right: 15px;
}
.modal-backdrop.in {
	opacity: .8;
}
.modal-dialog {
	width: 320px;
}
.modal-content {
	background-color: #F1F1F1;
}
.modal-body input[type="text"] {
	width: 287px;
	height: 35px;
	font-size: 18px;
}
#modal-free-consult-mob .modal-body input[type="text"] {
	width: 100%;
	height: 35px;
}
#modal-free-consult-mob .modal-body input[type="submit"] {
	width: 100%;
}
#modal-free-consult-mob .modal-content {
	width: 100%;
}
#modal-free-consult-mob .modal-dialog {
	width: 300px;
}

#modal-for-accountants-mob .modal-body input[type="text"] {
	width: 100%;
	height: 35px;
}
#modal-for-accountants-mob .modal-body input[type="submit"] {
	width: 100%;
}
#modal-for-accountants-mob .modal-content {
	width: 100%;
}
#modal-for-accountants-mob .modal-dialog {
	width: 300px;
}

.modal-body form > div {
	margin-top: 20px;
}
.modal-body > form > div > div {
	color: #028090;
	font-weight: bold;
	font-size: 18px;
}
.modal-body input[type="submit"] {
	background-color: #E7382B;
	color: #ffffff;
	width: 100%;
	height: 60px;
	border: medium none;
	border-radius: 2px;
	font-size: 28px;
	margin-bottom: 5px;
	margin-top: 20px;
	letter-spacing: 1px;
}
.modal-body input[type="submit"]:hover {
	background-color: #339933;
}
.modal-body button:hover {
	background-color: #B03A32;
}
.modal-body > form div:first-child {
	margin-top: 5px;
}
/*Конец. Переопределенные стили Bootstrap.*/

@media screen and (max-device-width: 1365px) {
	.container, 
	.container-fluid {
		padding-right: 70px; 
		padding-left: 70px;
	}
	.main-screen h3 {
		font-size: 24px;
		letter-spacing: 1px;
	}
	.main-screen ul {
		font-size: 22px;
	}
	.main-screen li img {
		width: 25px;
		height: 36px;
	}	
	.main-screen .btn-inside-ipad-1 {
		left: 32%;
	}
	.main-screen .btn-inside-ipad-1 {
		padding-left: 20px;
		padding-right: 20px;
	}
	.main-screen h1 {
		font-size: 36px;
	}
	.main-screen-mob button {
		margin-left: 10px;
		margin-right: 10px;
	}
}

@media screen and (min-device-width: 1600px) {
	.container, 
	.container-fluid {
		padding-right: 70px; 
		padding-left: 70px;
	}
	.header .phone-digits {
		font-size: 41px;
	} 
	.header .glyphicon-earphone {
		font-size: 30px;
	}
	.header button {	
		font-size: 22px;
		padding-left: 20px;
		padding-right: 20px;
	} 
	.main-screen h1 {
		font-size: 48px;
	}
	.main-screen h3 {
		font-size: 37px;
	}
	.main-screen li {
		margin-top: 50px;
	}
	.main-screen ul {
		font-size: 36px;
	}
	.main-screen .btn-inside-ipad-1 {
		width: 380px;
		font-size: 22px;
	}
	.calc-wrapper {
		width: 20%;
	}
	.for-accs-text-wrapper {
		width: 79%;
	}
}

@media screen and (min-device-width: 1920px) {
	.container, 
	.container-fluid {
		padding-right: 15px; 
		padding-left: 15px;
	}
	.header .phone-digits {
		font-size: 46px;
	}

	.header .glyphicon-earphone {
		font-size: 35px;
	}

	.header button {	
		font-size: 26px;
		padding-left: 25px;
		padding-right: 25px;
	} 
	.main-screen h1 {
		font-size: 53px;
		font-weight: 700;
		font-family: 'Open Sans Condensed', sans-serif;
		margin-top: 20px;
	}
	.main-screen h3 {
		font-size: 41px;
		font-family: 'Open Sans Condensed', sans-serif;
		margin-top: 0px;
	}
	.main-screen ul {
		font-size: 44px;
	}
	.main-screen li {
		margin-top: 60px;
	}
	.calc-wrapper {
		width: 15%;
	}
	.for-accs-text-wrapper {
		width: 84%;
	}
}

@media screen and (max-device-width: 991px) {
	.container, 
	.container-fluid,
	.main-screen h1,
	.header {
		padding-right: 15px; 
		padding-left: 15px;
	}
	.main-screen {
		background-position: top;
	}	
	.header .right-side {
		margin-bottom: 15px;
	}
	.header img {
		margin-bottom: 15px;
	}
	.header .col-md-12 {
		padding-top: 15px;
	}
	.first-man-wrapper {
		font-size: 24px;
		margin-left: 15px;
	}
	.for-accountants p {
		padding-left: 0px;
		padding-right: 0px;
		font-size: 20px;
	}
	.where-are-you p {
		padding-left: 0px;
		padding-right: 0px;
		font-size: 18px;
	}
	.what-can-order li {
		padding-left: 0px;
		padding-right: 0px;
		font-size: 18px;
	}
	.for-accountants h2 {
		font-size: 28px;
	}
	.where-are-you h2 {
		font-size: 28px;
	}
	.what-can-order h2 {
		font-size: 28px;
	}
	.footer-wrapper {
		padding-left: 0px;
		padding-right: 0px;
	}
	.price-page {
		padding-left: 10px;
		padding-right: 10px;
	}
	.privacy-policy {
		padding-left: 10px;
		padding-right: 10px;
	}
	.public-offer {
		padding-left: 10px;
		padding-right: 10px;
	}
	.btn-connect-wrapper {
	    margin-left: 15px;
	}
	.what-can-order ul {
		margin-left: 15px;
	}
}

@media screen and (max-device-width: 767px) {
	#modal-connect-us .modal-body input[type="text"],
	#modal-free-consult-footer .modal-body input[type="text"], 
	#modal-check-us .modal-body input[type="text"],
	#modal-our-experience .modal-body input[type="text"] {
		width: 100%;
		height: 35px;
	}
	#modal-connect-us .modal-body input[type="submit"],
	#modal-free-consult-footer .modal-body input[type="submit"],
	#modal-check-us .modal-body input[type="submit"],
	#modal-our-experience .modal-body input[type="submit"] {
		width: 100%;
	}
	#modal-connect-us .modal-content,
	#modal-free-consult-footer .modal-content,
	#modal-check-us .modal-content,
	#modal-our-experience .modal-content {
		width: 100%;
	}
	#modal-connect-us .modal-dialog,
	#modal-free-consult-footer .modal-dialog,
	#modal-check-us .modal-dialog,
	#modal-our-experience .modal-dialog {
		width: 310px;
		margin-left: auto;
		margin-right: auto;
	}


/*	#modal-free-consult-footer .modal-dialog {
		width: 310px;
		margin-left: auto;
		margin-right: auto;
	}*/
	#btn-free-consult-mob {
		font-size: 11px;
	}
	.header .right-side {
		margin-bottom: 5px;
	}
	.header img {
		margin-bottom: 5px;
	}
	.header .col-md-12 {
		padding-top: 5px;
	}
	.header img {
		width: 40%;
	}
	.header .phone-digits {
		font-size: 22px;
	}
	.header .glyphicon-earphone {
		font-size: 17px;
	}
	.first-man-wrapper {
		margin-top: 50px;
		margin-left: 15px;
		font-size: 20px;
	}
	.main-screen h1 {
	    font-size: 28px;
	}
	.main-screen {
		background-position: 45%;
	}
	.btn-connect-wrapper {
	    margin-left: 15px;
	    margin-top: 50px;
	}	
	.what-can-order ul {
		margin-left: 10px;
	}
/*	.for-accountants {
		padding-bottom: 0px;	
	}*/
}

@media screen and (max-device-width: 379px) {
	.compare-wrapper-mob table {
	    font-size: 15px;
}

@media screen and (max-device-height: 480px) {
	.btn-connect-wrapper {
	    margin-top: 80px;
	}
}


















































	